.statistics {
  margin-left: 30px;
  /* outline: 2px solid green;
  outline-offset: -2px; */
}

.title {
  padding-top: 50px;
  padding-bottom: 50px;

  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  color: #787772;
  font-weight: 600;
}

.statList {
  display: flex;
  text-align: center;
  border-radius: 8px 8px 8px 8px;
}

.item {
  display: flex;
  flex-direction: column;
  width: 130px;

  color: #ffffff;
  padding-top: 15px;
  padding-bottom: 25px;
}

.item:first-child {
  border-radius: 0 0 0 8px;
}

.item:last-child {
  border-radius: 0 0 8px 0;
}

.label {
  font-size: 23px;
}

.percentage {
  margin-top: 15px;

  font-size: 30px;
  font-weight: 500;
}
